- name: Ensure that epel repo installed
  ansible.builtin.yum:
    name: epel-release
    state: present
    update_cache: true

- name: Ensure that nginx installed
  ansible.builtin.yum:
    name: nginx
    state: present


- name: Ensure html file copied to nginx default root directory
  ansible.builtin.template:
    src: index.html.j2
    dest: /usr/share/nginx/html/index.html
    owner: root
    group: root
    mode: 0644
  notify: reload nginx
