<!DOCTYPE html>
<html>
    <head>
        <style>
            .centered-text {
            text-align: center;
            }
        </style>
    </head>
    <body>

        <div class="centered-text">
            <p>{{ web_page_content }} {{ ansible_nodename }}</p>
        </div>

    </body>
</html>